.MainContentBox{
  width: 70%;
}

.todos{
  margin: 8px 0;
  border-bottom:1px solid #4b4b4b;
}

.todo{
  padding: 8px 0;
  border-top:1px solid #4b4b4b;

}

.svg {
  margin-right: 10px;
  cursor:pointer;
}

.time{
  font-size: 12px;
}

.button a {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px auto;
  padding: 0.7em 1em;
  width: 200px;
  color: #e2e2e2;
  font-size: 18px;
  font-weight: 700;
  border: 3px solid #e2e2e2;
  border-radius: 10px;
}

.button a::after {
  content: '';
  width: 5px;
  height: 5px;
  border-top: 3px solid #e2e2e2;
  border-right: 3px solid #e2e2e2;
  transform: rotate(45deg);
}

.button a:hover {
  color: #333333;
  text-decoration: none;
  background-color: #e2e2e2;
}

.button a:hover::after {
  border-top: 3px solid #333333;
  border-right: 3px solid #333333;
}